h2 {
    padding-bottom: 0;
}

.titre_event {
    padding-top: 8%;
}

.tooLong {
    font-size: 1.4em;
}

.logoMetro {
    width: 6%;
}

.miniBande {
    height: 0.1em; 
    background-color: rgb(255, 160, 122);
}

.dates {
    color: salmon;
    font-weight: lighter;
    font-size: 1em;
}

.dateExpo23 {
    font-weight: bold;
    padding-bottom: 5%;
}

.pImg {
    display: flex;
}

.pImg p {
    width: 70%;
    text-align: justify;
    padding-right: 5%;
}

.pImg img {
    width:50%;
}